.hero-text {
    position: absolute;
    inset: 0;
    left: clamp(2rem, 6vw, 7rem);
    bottom: clamp(2rem, 8vw, 6rem);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    
    z-index: 2;
}

.hero-top {
    font-size: clamp(1rem, 1.5vw, 1.4rem);
    letter-spacing: 0.3rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.hero-text h1 {
    margin: 0;
    font-size: clamp(2.5rem, 6vw, 5.5rem);
    line-height: 0.9;
    font-weight: 700;
    letter-spacing: -0.01em;
}

.body-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 25px;
    background-color: white; 
    color: #333;
    text-align: left;
}

/* section headings */
.body-content h1 {
    font-family: "Satoshi";
    font-size: 2.4rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 1rem;
    color: #222;
}

/* description text */
.body-content p {
    font-size: 1.15rem;
    line-height: 1.85;
    display: block;
    max-width: 85ch;

    color: rgba(17, 17, 17, 0.85);
}

.body-content strong {
    color: black;
    font-weight: 450;
}

/* spacing between the info containers */
.mission-container,
.motto-container,
.why-container,
.bio-container {
    max-width: 800px;
    margin: 0 auto 4rem;
    padding-bottom: 3rem;
    position: relative;
}

/* adds divider */
.mission-container::after,
.motto-container::after,
.why-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(0,0,0,0.08);
}

.bio-container {
    padding-bottom: 0;
    margin-bottom: 0;
}