.shopping-page {
  max-width: 1200px;
  margin: calc(1rem + 70px) auto;
  padding: 2rem;
}

.cart-container h1 {
  font-family: "Satoshi";
  font-size: 1.75rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 3rem;
  letter-spacing: 0.05em;
}

.empty-cart-msg {
  
}

.cart-items {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: grid;
  grid-template-columns: 180px 1fr auto;

  gap: 2rem;

  padding: 2rem 0;

  border-bottom: 1px solid #e5e5e5;
}

.cart-item-image {
  width: 180px;
  height: 270px;

  object-fit: cover;

  border: 1px solid #e5e5e5;
}

.cart-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item-name {
  font-family: sans-serif;

  font-size: 1.2rem;
  font-weight: 400;

  letter-spacing: .009em;
}

.cart-item-price {
  color: #555;
}

.cart-item-actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-item-actions .quantity-control {
  display: inline-flex;
  align-items: center;
  border: 1px solid #ddd;
  width: fit-content;
}

.qty-number {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-btn {
  border: none;
  background: none;

  width: fit-content;

  color: #666;

  cursor: pointer;

  padding: 0;
}

.remove-btn:hover {
  color: black;
}

.item-total {
  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;
}

.checkout-link {
  margin-top: 2rem;

  display: flex;
  justify-content: flex-end;
}

.checkout-link a {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 260px;
  height: 60px;

  background: #111;
  color: white;

  text-decoration: none;

  font-family: "Satoshi";
  text-transform: uppercase;

  letter-spacing: 2px;
  font-size: 0.9rem;
  font-weight: 600;

  transition:
    transform 0.2s ease,
    background 0.2s ease;
}

.checkout-link a:hover {
  background: #222;
}