.page {
    display: block;
    width: 100%;
}

.hero-banner {
    position: relative;
    width: 100%;
    height: 80vh; /* manually changes how far down the hero banner goes */
    overflow: hidden;
}

.hero-banner::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.45),
        rgba(0,0,0,0.05),
        rgba(0,0,0,0.35)
    );
    z-index: 1;
}

.hero-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center; /* adjusts how the image is weighted to fit, depends on how the images are taken */
}

.hero-text h1 {
    font-family: "Manrope", sans-serif;
}

.kevryx-brand {
    font-family: "Satoshi";
    text-transform: uppercase;
}